body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

.container {
  width: 320px;
  margin: auto;
}

.select-box {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.insta {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}


