body {
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
  text-align: center;
}

h1 {
  margin-top: 25px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.container {
  width: 360px;
  margin: auto;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.color-card {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 11px;
}

.color-box {
  height: 35px;
  border-radius: 6px;
}

.color-card.selected {
  outline: 3px solid black;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.5;
}

.insta {
  margin-top: 30px;
  font-size: 14px;
  color: #777;
}
